<p><strong>Players Online:</strong> 1<br/>
<strong>Total Accounts:</strong> 2<br/>
<strong>Total Items:</strong> 182203<br/>
<strong>Total Guilds:</strong> 10</p>
<h2>Online Players</h2>
<ul class="content player-list">
<li data-faction="alignment_none" data-kills="1" data-uid="03a66f7d">Takagaki Orika</li>
</ul>