<p><strong>Players Online:</strong> %CLIENTS%<br/>
<strong>Total Accounts:</strong> %ACCOUNTS%<br/>
<strong>Total Items:</strong> %ITEMS%<br/>
<strong>Total Guilds:</strong> %GUILDS%</p>
<h2>Online Players</h2>
<ul class="content player-list">
<script language="Sphere">CLIENTLIST <li data-faction="%tag.alignment%" data-kills="%kills%" data-uid="%UID%">%NAME%</li></script>
</ul>